# Print

In [16]:
print("hello")
print("i am a print statement")
print("hello world")
print("hello python")

print(10)
print("10")
print(10.0)
print("10.0")

hello
i am a print statement
hello world
hello python
10
10
10.0
10.0

# Variables

In [22]:

container = "anything"  #initiallized a variable OR declared a variable with value ANYTHING
print(container)

number=12 #variable must have a meaningful name always
print(number)

firstName="Muhammad" #initialized with 
lastName="Zulqarnain"
print(firstName,lastName)

firstName="Muhammad" #override firstName with same value
lastName="Shahzad" #overrided lastName with different value
print(firstName,lastName)

message = "Welcome to the world of python"
print(message)
messageNo2="How are you?"
print(messageNo2)

anything
12
Muhammad Zulqarnain
Muhammad Shahzad
Welcome to the world of python
How are you

# Casing

In [19]:
animal="CAt"
print(animal)  #print as it is 
print(animal.title()) #print only with first CHARACTER CAPITAL whatever is defined
print(animal.lower()) # print ALL CAPS small(in lowercase) whatever is defined 
print(animal.upper()) # print ALL CAPS large(in uppercase) whatever is defined

CAt
Cat
cat
CAT

# Data Types & type()

In [26]:
number=12 #number type variable 
print(number)
print(type(number))

decimalNumber=1.2 #number(containing decimal value) type variable 
print(decimalNumber)
print(type(decimalNumber))

greeting= "Hello User" # string(something defined with alphabetic characters or others) type 
print(greeting)
print(type(greeting))

12
<class 'int'>
1.2
<class 'float'>
Hello User
<class 'str'>

# Concatenate

In [36]:
fName = "Hamza"
lNaME = "kHAN"
print(fName + lNaME)  #will place things in given sequence.
print(fName + " " + lNaME) #everything can concat with other things (e.g here var then str and end var)


firstN = "Khurram"
lastN = "Advani"
print(firstN + lastN)
print(firstN + " " + lastN)

num1 = 1
num2 = 2
print(num1+num2)  # will actually not concatenate ,by default ; it will do maths (special case of only pasing number type variables)
num1 = "1"
num2 = "2"
print(num1+num2) #it will concatenate both string
# num1 = "1"
# num2 = 2
# print(num1+num2) #will generate error (because we can't concatenate  different tyoes on varibles)
# num1 = 1
# um2 = "2"
# print(num1+num2)  # will also generate error

HamzakHAN
Hamza kHAN
KhurramAdvani
Khurram Advani
3
12

# Math operations

In [6]:
floatNum = 12.0
floatNum2 = 4.0

floatNum3 = floatNum + floatNum2 
print(floatNum3)
floatNum4 = floatNum + floatNum2 - 6 
print(floatNum4) 
floatNum4 = floatNum2 % floatNum #it will gives or returns the value of remainder 
print(floatNum4)

age=18 #and then after every year you need to increase one
age = age + 1 
print(age)
# OR
age += 1
print(age)

16.0
10.0
4.0
19
20