In [21]:
#extend function --> extends the provide string "bit vise" in a list , can't provide integer e.g extend(987) because it'll be read as single value ,but you can do extend("987") will read as str
alphabets = ['a','b','c','d','e','f','g','h','i','j']
print(alphabets)
alphabets.extend("klmnopqrstuvwxyz")
print(alphabets)

lt= []
lt.extend("zulqarnian") #if you need to initialize something |haracter by character in list so it's a better approach or want to save user input char by char
print(lt)

k = []
k.extend('123456789p10')
k

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['z', 'u', 'l', 'q', 'a', 'r', 'n', 'i', 'a', 'n']

['1', '2', '3', '4', '5', '6', '7', '8', '9', 'p', '1', '0']

In [25]:
l_i_l = [0,[1,2],3,4,5,[6,7,[8,9]],10]
print(l_i_l [1][1])
print()

listInList = [0,1,2,3,[0,1,2,3,[0,1,2,3,4,5,6,7,8,9],5,6,7,8,9],5,6,7,8,9]
print(listInList [4][4][4])
print()

#index function --> returns the index number of element 

#9s index in l_i_l
l_i_l [5][2].index(9)
l_i_l.index(10)

2

4

6

In [3]:
#string access,slice as like lists in python

#STRING FORMATTING

name = "Fahad"
fatherName = "Zafar"
#print("name is "+name+" and father name is "+fatherName+"\n") 
print("name is {} and father name is {}\n".format(name,fatherName)) #  {} --> place holder 
print("name is {0} and father name is {0}\n".format(name,fatherName))
print("name is {1} and father name is {1} \n".format(name,fatherName))
#another method
print(f"name is {name} and father name is {fatherName} \n")

name is Fahad and father name is Zafar

name is Fahad and father name is Fahad

name is Zafar and father name is Zafar

name is Fahad and father name is Zafar

In [27]:
#tuple --> immutable (can't be change , can't modify anything), can be slice but will return a  tuple
# A mutable object can be changed after it's created, and an immutable object can't.
tupple = ('Apple','Oranges','Strawberry')
print(type(tupple))

print(tupple)

a = 12,12,34,5,456,76,56,43 #packing of values (tupple)
b,c,c,d,e,f,g,h = a #unpacking values

print(a,b,c,d,e,f,g,h)
print(g+h)
print(type(d))
print(a)

<class 'tuple'>
('Apple', 'Oranges', 'Strawberry')
(12, 12, 34, 5, 456, 76, 56, 43) 12 34 5 456 76 56 43
99
<class 'int'>
(12, 12, 34, 5, 456, 76, 56, 43)

In [28]:
X=Y=Z=1
print(X,Y,Z,sep="*")
print(X,Y,Z,end="*",sep='')

1*1*1
111*

In [35]:
lamb=lambda x:x ** 3
lamb(4)
# lamb

64

In [37]:
for i in range(1,101):
    if int(i*0.5)==i*0.5:
        print(i)

z=[i for i in range(1,101) if int(i*0.5) == i*0.5]
print(z)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [53]:
string = "m.y. .n.a.m.e. .i.s. .x."
for i in string.split('.'): #jahan . mily wahann string door de , by default is space
    print(i,end=", ")

m, y,  , n, a, m, e,  , i, s,  , x, ,

In [50]:
i = ["good","oh!","excellent!","450"]
ch=[n for n in i if n.isalpha() or n.isdigit()]
print(ch)
type(ch[1])

['good', '450']

str