 Do the following to create a program that simulates
how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. Make sure one or
two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already
been used. If it has, print a message that the person will need to enter a
new username. If a username has not been used, print a message saying
that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used,
'JOHN' should not be accepted.

In [1]:
current_users = ['Hamza' , 'Laiba' , 'Ahsan' , 'Zoya' , 'Umer' , 'Rida']

new_users = ['Ali' , 'Fatima' , 'Hamza' , 'Tooba' , 'Azhar' , 'Khani' , 'Ahsan' , 'Rida' , 'Zohaib' , 'Zoya']

for new_user in new_users:
    if new_user in current_users:
        print("\nPerson need to Re-Enter a new user name.\nThis user name is already exists " + new_user + '.')
        
    else:
        print('\n'+ new_user + " your name is added to database.")

Ali your name is added to database.

Fatima your name is added to database.

Person need to Re-Enter a new user name.
This user name is already exists Hamza.zaid.

Tooba your name is added to database.

Azhar your name is added to database.

Khani your name is added to database.

Person need to Re-Enter a new user name.
This user name is already exists Ahsan.

Person need to Re-Enter a new user name.
This user name is already exists Rida.

Zohaib your name is added to database.

Person need to Re-Enter a new user name.
This user name is already exists Zoya.

# Tuples

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. 
The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. tup1 = (50,);

In [2]:
friends = ('Hamza' , 'Umer' , 'Zohaib' , 'Azhar' , 'Fahad')
friends[2]

'Zohaib'

In [4]:
cities = ("Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle")
mycities = cities[4]
print("I belong to " + mycities.upper() + '.')

I belong to LOS ANGELES.

In [6]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [7]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')


tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [9]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
print (tup)

('physics', 'chemistry', 1997, 2000)

TypeError: 'tuple' object doesn't support item deletion

In [18]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [13]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [14]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [16]:
thistuple = ("apple", "banana", "cherry")
if "strawberry" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("No Strawberry in your tuple")

No Strawberry in your tuple

In [17]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Dictionaries

a = {'key':'value'}

In [19]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [20]:
alien_0 = {'color': 'green', 'points': 5}
new_points = alien_0['points']
print("You just earned " + str(new_points) + " points!")

You just earned 5 points!

In [22]:
#adding new key , value in dict
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [24]:
foods = {}
foods['karahi'] = 'favourite'
foods['sheep'] = 'Boti kabab'
foods['khawasa'] = 'yummy'
foods['BBQ'] = 'malai boti'
foods['shake'] = 'chocolate'
foods['ice cream'] = ''
print(foods)

{'karahi': 'favourite', 'sheep': 'Boti kabab', 'khawasa': 'yummy', 'BBQ': 'malai boti', 'shake': 'chocolate', 'ice cream': 'magnum'}

In [34]:
players = {'Watson':'Australian International Cricketer'}
print("Shane Robert Watson is a " + players['Watson'] + '.')

players = {'Imam ul Haq': 'parchi'}
print("\nWe all know that Imam ul Haq is a " + players['Imam ul Haq'] + ".")

Shane Robert Watson is a Australian International Cricketer.

We all know that Imam ul Haq is a parchi.

In [44]:
psl = {'karachi': 'kings', 'multan':'sultan', 'zalmi': 'won'}
print("Karachi is: " + str(psl['karachi']))

if psl['zalmi'] == 'loser':
    x_increment = 1
    
elif psl['zalmi'] == 'won':
    x_increment = 2
    
else:
    x_increment = 3
    
    
psl['zalmi'] = psl['zalmi'] + str(x_increment)
print("PSL4 zalmi : " + str(psl['zalmi']))

Karachi is: kings
PSL4 zalmi : won2

# Removing Key-Value Pairs

In [1]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
del alien_0['points']
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}